vesktop/
dconf/
dolphinrc
google-chrome/
httptoolkit/
kactivitymanagerdrc
kconf_updaterc
kdeconnect/
kdedefaults/
kdeglobals
kde.org/
kgetrc
kgpgrc
kioslaverc
konquerorrc
kwalletrc
kwriterc
libreoffice/
mimeapps.list
session/
systemd/
trashrc
user-dirs.dirs
user-dirs.locale
xsettingsd/
