vesktop/
dconf/
dolphinrc
evolution/
google-chrome/
goa-1.0/
htop/
httptoolkit/
ibus/
kate/
kactivitymanagerdrc
kconf_updaterc
kdeconnect/
kdedefaults/
kdeglobals
kde.org/
kgetrc
kgpgrc
kioslaverc
konquerorrc
kwalletrc
kwriterc
libreoffice/
nautilus/
nwg-bar/
nwg-look/
pamac/
libaccounts-glib/
pulse/
session/
systemd/
whoozle.github.io/
mimeapps.list
session/
systemd/
trashrc
user-dirs.dirs
user-dirs.locale
clipse/clipboard_history.json
"Youtube Music"/
baloofileinformationrc
baloofilerc
discoverrc
dolphinrc
kate-externaltoolspluginrc
katerc
katevirc
kiorc
kservicemenurc
ktrashrc
QtProject.conf
Trolltech.conf
user-dirs.dirs
user-dirs.locale
arkrc
